
body {
    /*font*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: rgb(250, 250, 250);
    user-select: none;
}

/***********************************************/

.ToDoButton {
    /*font*/
    color: white;

    /*margin*/
    margin-top: 15px;

    /*Size*/
    width: 260px;
    height: 35px;
    cursor: pointer;

    /*Design*/
    border: 1px solid;
    border-color: rgb(76, 171, 255);
    border-radius: 4px;
    background-color: rgb(76, 171, 255);
}
.ToDoButton:hover {
    background-color: rgb(55, 162, 255);
}
.ToDoButton:active {
    background-color: rgb(40, 114, 179)
}

/***********************************************/

.Freeze {
    /*Design*/
    pointer-events: none;

    /*margin*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
